body{
    margin: 0;
    width: 100%;
    height: 100%;
}
#game{
    position: fixed;
}
.btn{
    opacity: .4;
    position: fixed;
    background-color: #ddd;
}
.btn:hover{
    opacity: .5;
    background-color:#bbb;
}
